/* ----- GOOGLE FONTS ----- */

/* ----- VARIABLES ----- */
/* Here website variables ( colors, font sizes, ... ) */
:root {
    --header-height: 100vh;

    /* Here website variables ( colors, font sizes, ... ) */
    /* ----- COLORS ----- */
    --balck: #000;
    --white: #fff;

    /* ----- FONT SIZES ----- */
    --body-font: ( font family );
    --biggest-font-size: --;
    --bigger-font-size: --;
    --big-font-size: --;
    --h2-font-size: --;
    --h3-font-size: --;
    --normal-font-size: --;
    --small-font-size: --;
    --smaller-font-size: --;
    --line-height: --;
    --font-weight-medium: --;
    --font-weight-semi-bold: --;
    --font-weight-bold: --;
}

/* ----- BASE ----- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow: hidden;
}

/* ----- HEADER AND NAV ----- */

/* ----- BODY ----- */
body {
    background: url('../media/backimg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position-x: -75px;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
.container {
    position: relative;
}
.menu {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1000;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.menu .control {
    position: relative;
}
.control i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
    color: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.control .x {
    opacity: 0.5;
}
.menu:hover .control .x {
    font-size: 2rem;
    opacity: 1;
}
.control .left {
    opacity: 0;
}
.menu.activate:hover .control .left {
    font-size: 2rem;
    opacity: 1;
}
.menu.activate .control .x {
    opacity: 0;
}
.menu.activate .control .left {
    opacity: 0.5;
}
.infoLayout {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Tajawal', sans-serif;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    visibility: visible;
}
.infoLayout.activate {
    visibility: hidden;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}
.infoLayout::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2.5px);
            backdrop-filter: blur(2.5px);
    z-index: -10;
}
.infoLayout::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1) translate(1px, 1px);
        -ms-transform: scale(1.1) translate(1px, 1px);
            transform: scale(1.1) translate(1px, 1px);
    z-index: -1;
}
.infoLayout img {
    position: relative;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 15px;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.infoLayout h1 {
    margin-top: 1.5rem;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
}
.infoLayout p {
    margin-top: 0.75rem;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    color: var(--white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2.75);
}
.infoLayout .social {
    position: relative;
    width: 95%;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
            transform: translateY(15px);
}
.social div {
    position: relative;
    width: 20%;
    height: 65%;
    background-color: transparent;
    margin: 0 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    font-size: 3rem;
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 500px;
            perspective: 500px;
    -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.social div:hover {
    cursor: pointer;
}
.social .cards a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #333;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.social .cards:hover a {
    color: var(--white);
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
}
.social .github:hover a {
    color: #333;
}
.social div:hover.twitter {
    background-color: #0099ff;
}
.social div:hover.instagram {
    background-color: #e4405f;
}
.social div:hover.github {
    background-color: #FFFC00;
}
.social div:hover.whatsapp {
    background-color: #25d366;
}
.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.main.activate {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.main {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}
.balotCalculator {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
}
.balotCalculator .calculator {
    position: relative;
    width: 100%;
    min-height: 610px;
    max-height: 610px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.35);
            box-shadow: 1px 1px 15px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}
.balotCalculator .arrow {
    position: absolute;
    width: 95px;
    height: 50px;
    top: 0;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(-50%, 75px);
        -ms-transform: translate(-50%, 75px);
            transform: translate(-50%, 75px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.balotCalculator .resultes {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-2.5%) translateY(2.5%);
        -ms-transform: translateX(-2.5%) translateY(2.5%);
            transform: translateX(-2.5%) translateY(2.5%);
}
.us {
    margin-left: 25px;
}
.usInResulte, .themInResulte {
    position: relative;
    width: 90%;
    height: 50px;
    outline: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white);
    border: 2px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    font-size: 26px;
    text-align: center;
}
.usInResulte::-webkit-input-placeholder, .themInResulte::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.usInResulte::-moz-placeholder, .themInResulte::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.usInResulte:-ms-input-placeholder, .themInResulte:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.usInResulte::-ms-input-placeholder, .themInResulte::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.usInResulte::placeholder, .themInResulte::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.usOutResulte, .themOutResulte {
    position: relative;
    width: 90%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white);
    border: 2px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    font-size: 26px;
    text-align: center;
}
.usResulteHistory, .themResulteHistory {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin: 10px 0;
    -webkit-transform: translateX(-5%);
        -ms-transform: translateX(-5%);
            transform: translateX(-5%);
    font-size: 20px;
    text-align: center;
    color: var(--white);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    overflow-y: scroll;
}
.balotCalculator .btns {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-48%, -175px);
        -ms-transform: translate(-48%, -175px);
            transform: translate(-48%, -175px);
}
.btnr, .btnres, .btnbck {
    width: 45px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.15);
}
.finalResulte {
    position: absolute;
    width: 75%;
    height: 45%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -35%);
        -ms-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 1px 1px 15px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    visibility: hidden;
}
.finalResulte.resulteShow {
    visibility: visible;
}
.finalResulte .resulteReport {
    color: var(--white);
    line-height: 40px;
    text-align: center;
}
.finalResulte .resulteBtn {
    width: 45px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.15);
}
/* ----- FOOTER ----- */
